{% extends "base.html" %}
{% block title %}My Lists{% endblock %}
{% block content %}
<body>
    <!-- header navigation bar -->
    <nav class="navbar navbar-inverse fixed-top bg-faded navbar-toggleable-sm ">
        <div class="container">
           <a href="{{ url_for('home') }}" class="navbar-brand m-o align-content-end mr-auto">
                BUCKET LIST
            </a>
            <div class="navbar-nav ">
                <a class="nav-item nav-link active" href="{{ url_for('home') }}">{{ user.username }}</a>
                <a class="nav-item nav-link " href="{{ url_for('shopping_list') }}">My Lists</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Log Out</a>
            </div><!-- navbar-->
        </div><!-- container -->
    </nav>
    <!--end fo navigation bar-->

<!-- View lists that have been created-->
<div class="container items" >
    <div class="form-group float-right">
        <!-- Trigger the modal with add item button -->
        <button class=" btn btn-info" type="submit" data-toggle="modal" data-target="#myModal">Create New List</button>
    </div><!-- container-->


    <!-- Modal -->

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New List</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--modal body-->
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col">

                                <!--title-->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="item">Title:</label>
                                    <div class="col">
                                        <input type="text" class="form-control" id="item" >
                                    </div>
                                </div>

                                <!--description-->
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="description">Description:</label>
                                    <div class="col">
                                        <textarea type="text" class="form-control" id="description"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


 <!-- Table of lists that have been created-->
{% if lists %}
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="2">Action</th>
        </tr>
        </thead>

        <tbody>
            {% for key, list in lists.items() %}
                    <tr>
                        <td>
                            <a href="{{ url_for('items', list_id = list.list_id) }}">{{ list.title }}</a>
                        </td>
                        <td>{{ list.description }}</td>
                        <td class="text-right"><a href="{{ url_for('edit_list',list_id = list.list_id) }}">EDIT</a></td>
                        <td class="text-right"><a href="{{ url_for('delete_list',list_id = list.list_id) }}">DELETE</a></td>
                    </tr>
                {% endfor %}
                </tbody><!-- end of table body-->
            </table>   <!--end of table-->

        {% else %}
            <!-- Page contents -->

            <div class="items">

                <h1 class="text-center text-color">You have no
                    lists </h1>

            </div>

        {% endif %}
</div>

    <!-- contents of footer navigation bar -->
    <footer class="navbar fixed-bottom navbar-inverse navbar-toggleable-sm " >
        <div class="container">
            <span class="navbar-text ml-auto">&copy; Shopping List Inc All rights reserved</span>
        </div>

    </footer>

<script src="../static/js/jquery.slim.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/scripts.js"></script>
</body>
{% endblock %}
